<html>
<head>
   <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
     
	   <!-- Latest compiled and minified CSS -->
	     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		               
		     <!-- Optional theme --> 
			   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
			        
			     <!-- Latest compiled and minified JavaScript -->
				 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
				       
				    <!-- custom css --> 
				    <link rel="stylesheet" href="../sugang.css">
</head>
<body>

<center>
<div class="container1">

	<div id="sub_title">
		<h1>시간표</h1>
	</div>

    <table class="table table-bordered" id="timetable">
  		<tr class="active">
			<td>&nbsp;</td>
			<td></td>
			<td>화</td>
			<td>수</td>
			<td>목</td>
			<td>금</td>
		</tr>
 		
 		<tr>
			<td class="success">1교시</td>
			<td id="11">월</td>
			<td id="21">화</td>
			<td id="31">수</td>
			<td id="41">목</td>
			<td id="51">금</td>
        </tr>
 		
 		<tr>
			<td class="success">2교시</td>
			<td id="12">월</td>
			<td id="22">화</td>
			<td id="32">수</td>
			<td id="42">목</td>
			<td id="52">금</td>
        </tr>

        <tr>
			<td class="success">3교시</td>
			<td id="13">월</td>
			<td id="23">화</td>
			<td id="33">수</td>
			<td id="43">목</td>
			<td id="53">금</td>
        </tr>

        <tr>
			<td class="success">4교시</td>
			<td id="14">월</td>
			<td id="24">화</td>
			<td id="34">수</td>
			<td id="44">목</td>
			<td id="54">금</td>
        </tr>

        <tr>
			<td class="success">5교시</td>
			<td id="15">월</td>
			<td id="25">화</td>
			<td id="35">수</td>
			<td id="45">목</td>
			<td id="55">금</td>
        </tr>

        <tr>
			<td class="success">6교시</td>
			<td id="16">월</td>
			<td id="26">화</td>
			<td id="36">수</td>
			<td id="46">목</td>
			<td id="56">금</td>
        </tr>

        <tr>
			<td class="success">7교시</td>
			<td id="17">월</td>
			<td id="27">화</td>
			<td id="37">수</td>
			<td id="47">목</td>
			<td id="57">금</td>
        </tr>

        <tr>
			<td class="success">8교시</td>
			<td id="18">월</td>
			<td id="28">화</td>
			<td id="38">수</td>
			<td id="48">목</td>
			<td id="58">금</td>
        </tr>
	</table>	
</div>
</center>
</body>
<html>
